--
-- PostgreSQL database dump
--

\restrict nb4zeh6dgu1rkmUwKX7WOvX5n2sKGRNr5EWvw9afyb6kaAhjpVKxGh0Xabkseov

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aptitude_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aptitude_answers (
    answer_id bigint NOT NULL,
    attempt_id bigint NOT NULL,
    q_id integer NOT NULL,
    selected_op_id integer NOT NULL
);


ALTER TABLE public.aptitude_answers OWNER TO postgres;

--
-- Name: aptitude_answers_answer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.aptitude_answers_answer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aptitude_answers_answer_id_seq OWNER TO postgres;

--
-- Name: aptitude_answers_answer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.aptitude_answers_answer_id_seq OWNED BY public.aptitude_answers.answer_id;


--
-- Name: aptitude_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aptitude_attempts (
    attempt_id bigint NOT NULL,
    user_id bigint NOT NULL,
    attempted_on timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total_questions integer NOT NULL,
    correct_answers integer NOT NULL,
    score character varying(25)
);


ALTER TABLE public.aptitude_attempts OWNER TO postgres;

--
-- Name: aptitude_attempts_attempt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.aptitude_attempts_attempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aptitude_attempts_attempt_id_seq OWNER TO postgres;

--
-- Name: aptitude_attempts_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.aptitude_attempts_attempt_id_seq OWNED BY public.aptitude_attempts.attempt_id;


--
-- Name: blacklisted_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blacklisted_tokens (
    token_hash character varying(64) NOT NULL,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.blacklisted_tokens OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    conversation_id integer NOT NULL,
    user_id bigint NOT NULL,
    persona_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    current_topic text,
    verdict character varying(255)
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: conversations_conversation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conversations_conversation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_conversation_id_seq OWNER TO postgres;

--
-- Name: conversations_conversation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conversations_conversation_id_seq OWNED BY public.conversations.conversation_id;


--
-- Name: document_chunks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_chunks (
    chunk_id integer NOT NULL,
    document_id integer NOT NULL,
    chunk_index integer NOT NULL,
    content text,
    embedding text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    topic text
);


ALTER TABLE public.document_chunks OWNER TO postgres;

--
-- Name: document_chunks_chunk_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.document_chunks_chunk_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_chunks_chunk_id_seq OWNER TO postgres;

--
-- Name: document_chunks_chunk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.document_chunks_chunk_id_seq OWNED BY public.document_chunks.chunk_id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    document_id integer NOT NULL,
    title text NOT NULL,
    source character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: documents_document_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.documents_document_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documents_document_id_seq OWNER TO postgres;

--
-- Name: documents_document_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.documents_document_id_seq OWNED BY public.documents.document_id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    msg_id integer NOT NULL,
    conversation_id integer NOT NULL,
    role character varying(255),
    content text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_role CHECK (((role)::text = ANY ((ARRAY['assistant'::character varying, 'user'::character varying, 'system'::character varying])::text[])))
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_msg_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_msg_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_msg_id_seq OWNER TO postgres;

--
-- Name: messages_msg_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_msg_id_seq OWNED BY public.messages.msg_id;


--
-- Name: options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.options (
    op_id integer NOT NULL,
    op character varying(255),
    q_id integer
);


ALTER TABLE public.options OWNER TO postgres;

--
-- Name: personas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personas (
    persona_id integer NOT NULL,
    name character varying(255),
    system_prompt text,
    greeting_instruction text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.personas OWNER TO postgres;

--
-- Name: personas_persona_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personas_persona_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personas_persona_id_seq OWNER TO postgres;

--
-- Name: personas_persona_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personas_persona_id_seq OWNED BY public.personas.persona_id;


--
-- Name: placementfulltest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.placementfulltest (
    test_id integer NOT NULL,
    user_id integer NOT NULL,
    attempted_on timestamp without time zone NOT NULL,
    apt_attempt_id integer,
    tech_interview_id integer,
    hr_interview_id integer
);


ALTER TABLE public.placementfulltest OWNER TO postgres;

--
-- Name: placementfulltest_test_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.placementfulltest_test_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.placementfulltest_test_id_seq OWNER TO postgres;

--
-- Name: placementfulltest_test_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.placementfulltest_test_id_seq OWNED BY public.placementfulltest.test_id;


--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    q_id integer NOT NULL,
    qsn character varying(1000),
    q_correct_option integer,
    correct_op_id integer
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: topic_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topic_content (
    content_id integer NOT NULL,
    topic_id integer NOT NULL,
    content_text text NOT NULL
);


ALTER TABLE public.topic_content OWNER TO postgres;

--
-- Name: topic_content_content_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topic_content_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topic_content_content_id_seq OWNER TO postgres;

--
-- Name: topic_content_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topic_content_content_id_seq OWNED BY public.topic_content.content_id;


--
-- Name: training_topics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.training_topics (
    topic_id integer NOT NULL,
    topic_title character varying(255) NOT NULL
);


ALTER TABLE public.training_topics OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email text NOT NULL,
    password text NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: aptitude_answers answer_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers ALTER COLUMN answer_id SET DEFAULT nextval('public.aptitude_answers_answer_id_seq'::regclass);


--
-- Name: aptitude_attempts attempt_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_attempts ALTER COLUMN attempt_id SET DEFAULT nextval('public.aptitude_attempts_attempt_id_seq'::regclass);


--
-- Name: conversations conversation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations ALTER COLUMN conversation_id SET DEFAULT nextval('public.conversations_conversation_id_seq'::regclass);


--
-- Name: document_chunks chunk_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks ALTER COLUMN chunk_id SET DEFAULT nextval('public.document_chunks_chunk_id_seq'::regclass);


--
-- Name: documents document_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents ALTER COLUMN document_id SET DEFAULT nextval('public.documents_document_id_seq'::regclass);


--
-- Name: messages msg_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN msg_id SET DEFAULT nextval('public.messages_msg_id_seq'::regclass);


--
-- Name: personas persona_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personas ALTER COLUMN persona_id SET DEFAULT nextval('public.personas_persona_id_seq'::regclass);


--
-- Name: placementfulltest test_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placementfulltest ALTER COLUMN test_id SET DEFAULT nextval('public.placementfulltest_test_id_seq'::regclass);


--
-- Name: topic_content content_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topic_content ALTER COLUMN content_id SET DEFAULT nextval('public.topic_content_content_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: aptitude_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: aptitude_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.aptitude_attempts (attempt_id, user_id, attempted_on, total_questions, correct_answers, score) FROM stdin;
6	1	2026-04-29 15:38:06.082608	15	10	10/15
7	1	2026-04-29 16:21:19.846896	15	6	6/15
8	1	2026-04-29 16:21:56.191685	15	5	5/15
9	1	2026-04-29 16:22:41.245757	15	8	8/15
10	1	2026-04-29 16:36:48.736849	15	12	12/15
11	1	2026-04-29 16:42:01.547217	15	12	12/15
\.


--
-- Data for Name: blacklisted_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: document_chunks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: personas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: placementfulltest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.placementfulltest (test_id, user_id, attempted_on, apt_attempt_id, tech_interview_id, hr_interview_id) FROM stdin;
3	20010	2026-04-17 12:28:54.653	20019	1012	1012
1	30014	2026-04-29 15:29:53.045264	5	11	12
5	1	2026-04-29 16:45:30.390635	11	19	20
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: topic_content; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: training_topics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password) FROM stdin;
1	kurien@gmail.com	$2a$10$.FNQ4KG9sNUda55tK6ZCmu6fl0sGc.aLUMG9Fs9aNKJC/LNmD3Z.a
10009	tester123@gmail.com	$2a$10$6/ZD3kQyBQfQa0jLQBjH9.lfuKXP1o9pBC0RAPaNTKroYAD3T4oPS
20012	test2@gmail.com	$2a$10$//HXDo7is9kDc9X2pNHgBOWNnFkB1DDUDfqLtfLA4fCq/OOW94JL2
20013	test4@gmail.com	$2a$10$ACgye3jlJ1.3D/gtk1au5OxLVVFRRwSqVLwiX8dm0XNTaY6DGS2Tq
30013	testdelete@gmail.com	$2a$10$lSjd69PgNYS5u3D70N/Z.e.rCS2WlfXtlmT3A2HF832eyudlBwSfS
\.


--
-- Name: aptitude_answers_answer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.aptitude_answers_answer_id_seq', 165, true);


--
-- Name: aptitude_attempts_attempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.aptitude_attempts_attempt_id_seq', 11, true);


--
-- Name: conversations_conversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversations_conversation_id_seq', 20, true);


--
-- Name: document_chunks_chunk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.document_chunks_chunk_id_seq', 1, false);


--
-- Name: documents_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.documents_document_id_seq', 1, false);


--
-- Name: messages_msg_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_msg_id_seq', 108, true);


--
-- Name: personas_persona_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personas_persona_id_seq', 3, true);


--
-- Name: placementfulltest_test_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.placementfulltest_test_id_seq', 5, true);


--
-- Name: topic_content_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topic_content_content_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 30014, true);


--
-- Name: aptitude_answers aptitude_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers
    ADD CONSTRAINT aptitude_answers_pkey PRIMARY KEY (answer_id);


--
-- Name: aptitude_attempts aptitude_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_attempts
    ADD CONSTRAINT aptitude_attempts_pkey PRIMARY KEY (attempt_id);


--
-- Name: blacklisted_tokens blacklisted_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blacklisted_tokens
    ADD CONSTRAINT blacklisted_tokens_pkey PRIMARY KEY (token_hash);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (conversation_id);


--
-- Name: document_chunks document_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT document_chunks_pkey PRIMARY KEY (chunk_id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (document_id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (msg_id);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (op_id);


--
-- Name: personas personas_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personas
    ADD CONSTRAINT personas_name_key UNIQUE (name);


--
-- Name: personas personas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personas
    ADD CONSTRAINT personas_pkey PRIMARY KEY (persona_id);


--
-- Name: placementfulltest placementfulltest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placementfulltest
    ADD CONSTRAINT placementfulltest_pkey PRIMARY KEY (test_id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (q_id);


--
-- Name: topic_content topic_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topic_content
    ADD CONSTRAINT topic_content_pkey PRIMARY KEY (content_id);


--
-- Name: training_topics training_topics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_topics
    ADD CONSTRAINT training_topics_pkey PRIMARY KEY (topic_id);


--
-- Name: aptitude_answers uq_attempt_question; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers
    ADD CONSTRAINT uq_attempt_question UNIQUE (attempt_id, q_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_messages_conversation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_conversation ON public.messages USING btree (conversation_id);


--
-- Name: aptitude_answers fk_answer_attempt; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers
    ADD CONSTRAINT fk_answer_attempt FOREIGN KEY (attempt_id) REFERENCES public.aptitude_attempts(attempt_id);


--
-- Name: aptitude_answers fk_answer_option; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers
    ADD CONSTRAINT fk_answer_option FOREIGN KEY (selected_op_id) REFERENCES public.options(op_id);


--
-- Name: aptitude_answers fk_answer_question; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_answers
    ADD CONSTRAINT fk_answer_question FOREIGN KEY (q_id) REFERENCES public.questions(q_id);


--
-- Name: aptitude_attempts fk_attempt_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aptitude_attempts
    ADD CONSTRAINT fk_attempt_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: document_chunks fk_chunk_document; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT fk_chunk_document FOREIGN KEY (document_id) REFERENCES public.documents(document_id);


--
-- Name: conversations fk_conversation_persona; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT fk_conversation_persona FOREIGN KEY (persona_id) REFERENCES public.personas(persona_id);


--
-- Name: messages fk_messages_conversation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_messages_conversation FOREIGN KEY (conversation_id) REFERENCES public.conversations(conversation_id) ON DELETE CASCADE;


--
-- Name: options fk_options_question; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT fk_options_question FOREIGN KEY (q_id) REFERENCES public.questions(q_id);


--
-- Name: topic_content fk_topic_content_topic; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topic_content
    ADD CONSTRAINT fk_topic_content_topic FOREIGN KEY (topic_id) REFERENCES public.training_topics(topic_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nb4zeh6dgu1rkmUwKX7WOvX5n2sKGRNr5EWvw9afyb6kaAhjpVKxGh0Xabkseov

